.main-navbar {
  width: 100%;
  height: 8vh;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  opacity: 90%;
}

.back-button-container {
  width: 18px;
  height: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.back-button {
  width: 100%;
  height: 30px;
}

.back-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-logo {
  height: 80%;
  object-fit: contain;
}

.dummy-container {
  width: 38px;
  height: 100%;
}