<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./styles/menu.css" rel="stylesheet">
  <link href="./styles/common.css" rel="stylesheet">
  <link href="./styles/mobile_main_nav.css" rel="stylesheet">
  <title>사자의 야심작 | 메뉴</title>
</head>
<body>
  <!-- mobile main nav bar start -->
  <nav class="main-navbar">
    <div class="back-button-container">
      <a class="back-button" href="">
        <img src="./assets/left-arrow.png">
      </a>
    </div>
    <div class="main-logo-container">
      <img class="main-logo" src="./assets/main_logo.png">
    </div>
    <div class="dummy-container"></div>
  </nav>
  <!-- mobile main nav bar end -->

  <section class="total-menu-selection-section">
    <div class="category-selection">
      <ul>
        <!-- dummy category start -->
        <li><a href="">버거</a></li>
        <li><a href="">사이드</a></li>
        <li><a href="">음료</a></li>
        <!-- dummy category end -->
      </ul>
    </div>
    <div class="menu-container">

      <!-- test components start-->

      <div class="menu" id="menu_1">
        <div class="menu-image-container">
          <button class="menu-detail-button">
            <img src="./assets/test_image_1.png">
          </button>
        </div>
        <div class="menu-info">
          <h1 class="menu-titie">새우버거</h1>
          <h2 class="menu-price">9,000원</h2>
        </div>
        <div class="menu-selection-container">
          <div class="quantity-selector">
            <button class="minus-button">-</button>
            <span class="count-indicator">0</span>
            <button class="plus-button">+</button>
          </div>
          <div class="confirm-selector">
            <button class="confirm-button">담기</button>
          </div>
        </div>
      </div>

      <div class="menu" id="menu_2">
        <div class="menu-image-container">
          <button class="menu-detail-button">
            <img src="./assets/test_image_2.png">
          </button>
        </div>
        <div class="menu-info">
          <h1 class="menu-titie">심혈관질환버거</h1>
          <h2 class="menu-price">10,000원</h2>
        </div>
        <div class="menu-selection-container">
          <div class="quantity-selector">
            <button class="minus-button">-</button>
            <span class="count-indicator">0</span>
            <button class="plus-button">+</button>
          </div>
          <div class="confirm-selector">
            <button class="confirm-button">담기</button>
          </div>
        </div>
      </div>

      <div class="menu" id="menu_3">
        <div class="menu-image-container">
          <button class="menu-detail-button">
            <img src="./assets/test_image_3.png">
          </button>
        </div>
        <div class="menu-info">
          <h1 class="menu-titie">걍버거</h1>
          <h2 class="menu-price">7,000원</h2>
        </div>
        <div class="menu-selection-container">
          <div class="quantity-selector">
            <button class="minus-button">-</button>
            <span class="count-indicator">0</span>
            <button class="plus-button">+</button>
          </div>
          <div class="confirm-selector">
            <button class="confirm-button">담기</button>
          </div>
        </div>
      </div>

      <div class="menu" id="menu_4">
        <div class="menu-image-container">
          <button class="menu-detail-button">
            <img src="./assets/test_image_4.png">
          </button>
        </div>
        <div class="menu-info">
          <h1 class="menu-titie">흑버거</h1>
          <h2 class="menu-price">12,000원</h2>
        </div>
        <div class="menu-selection-container">
          <div class="quantity-selector">
            <button class="minus-button">-</button>
            <span class="count-indicator">0</span>
            <button class="plus-button">+</button>
          </div>
          <div class="confirm-selector">
            <button class="confirm-button">담기</button>
          </div>
        </div>
      </div>

      <!-- test components end-->

    </div>
  </section>

  <section class="modal-section">
    <div class="modal-screen">
      <div class="modal-content">
        <button class="modal-close-button">창 닫기 X</button>
        <h1 id="modal-menu-name">메뉴명</h1>
        <h2 id="modal-menu-category">메뉴의 카테고리</h2>
        <p id="modal-menu-description">메뉴설명 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>

  <!-- mobile main bottom button start -->
  <section>
    <a class="main-bottom-button" href="">
      <div class="main-bottom-button-content-container">
        <div>
          <p>장바구니 보기</p>
        </div>
        <div class="cart-icon">
          <img src="./assets/shopping_cart.png">
          <div class="quantity-indicator">
            <p>3</p>
          </div>
        </div>
      </div>
    </a>
  </section>
  <!-- mobile main bottom button end -->

  <script src="./scripts/menu.js"></script>
</body>
</html>