.total-menu-selection-section {
  width: 100%;
  height: 60px;
  margin-top: 2vh;
  border-radius: 40px 40px 0 0;
  background-color: #F4F4F4;
}

.category-selection {
  padding: 20px 0 12px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

.color-bar {
  width: 150px;
  height: 5px;
  margin: 0 auto;
  background-color: #FEAC18;
}

.menu-container {
  width: 100%;
  padding-bottom: 70px;
}

.menu {
  width: 100%;
  height: 100px;
  margin: 3px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F4F4;
}

.menu-image-container {
  height: 80%;
  width: 100px;
  margin-left: 5vw;
}

.menu-detail-button {
  height: 100%;
  border: none;
  background-color: transparent;
}

.menu-detail-button img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-info {
  width: 40vw;
  height: 65%;
  position: relative;
}

.menu-info h1 {
  font-size: 18px;
  font-weight: 600;
}

.menu-info h2 {
  position: absolute;
  bottom: 0;
}

.quantity-selector {
  width: 70px;
  padding: 5px 10px;
  margin-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6d5d5;
  border-radius: 20px;
}

.quantity-selector button, .delete-selector button {
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.quantity-selector button:hover {
  cursor: pointer;
}

.delete-selector {
  width: 70px;
  padding: 5px 10px;
  margin-right: 5vw;
  margin-top: 8px;
  background-color: #fe5d18;
  border-radius: 20px;
  text-align: center;
}

.delete-selector button {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.delete-selector button:hover {
  cursor: pointer;
}

.main-bottom-button {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 10vh;
  max-height: 100px;
  min-height: 60px;
  background-color: #FEAC18;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 800;
  opacity: 90%;
}

.main-bottom-button-content-container {
  height: 30%;
  display: flex;
}

.main-bottom-button-content-container p {
  height: 100%;
  margin: 0 3px;
}